<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="index.js"></script>
  <head>
    <meta charset="utf-8">
    <title>Sole's Blog </title>
  <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <style>
  body {
    background-color: pink;
  }
  </style>
<h1>Solé's Blog</h1>
  <body>
  Interests
        <h2 class="section-header">Top favorite shows</h2>
          Euphoria &emsp; &emsp;
          Game of Thrones &emsp; &emsp;
          Rick and Morty
        <h3>
          <img src="/static/images/euphoria.jpg" height="150" />
        </h3>
      </section>
      <section id="personalized">
        <h2 class="section-header">Your Favorite Books</h2>
        <div class="personalized-content">
          <h3 class="book-title">The Diary of Anne Frank</h3>
          <h4 class="book-author">Anne Frank</h4>
        </div>
        <div class="personalized-content">
          <h3 class="book-title">Pride and Prejudice</h3>
          <h4 class="book-author">Jane Austin</h4>
        </div>
        <h2 class="section-header">Your Favorite Movies</h2>
        <div class="personalized-content">
          <h3 class="movie-title">Groundhog Day</h3>
          <h4 class="movie-year">1993</h4>
        </div>
      </section>
    </section>
  <a href="/make_post">Wanna make a post?</a>
  </body>
  <img src="/static/images/Google_logo.png" height="150" />

</html>
