<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/make_post">
      <label>
        Post title
      <input type="text" name="post_title" value="">
      </label><br/>
      <label>
        Post Content
      <input type="text" name="post_content" value="">
      </label><br/>
      <label>
        Author Name
      <input type="text" name="author_name" value="">
      </label><br/>
      <button type="submit">Make Post!!!!</button>
    </form>
  </body>
</html>
